/* body {
    background-color: gray;
    opacity: .5;
} */
/* html {
    min-height:100%;
    background:linear-gradient(90deg, rgba(232, 232, 232, 0.3), rgba(90, 90, 90, 0.3)), url(http://lorempixel.com/800/600/nature/2);
    background-size:cover;
  } */

header {
min-height: 75px;
}

.the-pitch {
    color: rgb(39, 39, 41);
    font-size: 30pt;
    margin-bottom: 3px;
    height:90vh;
}


.photo-self {
    width:300px;
    height:300px;
}
img {
    width:500px;
    height:500px;
    margin-top: 5px;
    margin-right: 25px;
    margin-bottom: 10px;
}
/* p {
    font-size: 18pt;
    text-indent: 30px;
} */
.focus-1 {
    font-style: italic;
  }
.focus-2 {
    font-style: italic;
    text-decoration: underline;
  }
/* .navbarSupportedContent {
    justify-content: right;
} */

body {
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)); */
    /* background: #f2f2f2;
   -webkit-background-size: cover;
   -moz-background-size:  cover;
   -o-background-size: cover;
   background-size: cover; */
 }

 /* .hsc-9-img {
    background-position: 20px 10px;
    width:50px;
    height:50px;
    
 } */

 #hello-there {
     text-indent: 0;
     font-size: 28pt;
 }
 #im-joe {
    font-size: 28pt;
    float: right;
    flex-wrap: nowrap;
 }